*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;
}
.logo{
    font-size: 30px;
    color: var(--text-color);
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.btnn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btnn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}
section{
    padding: 110px 16% 90px;
}
.hero{
    height: 100vh;
    width: 100%;
    background: url(../image/Young-Man-PNG-Free-Image.png) no-repeat;
    background-position: bottom right;
    background-size: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero__profil h4{
    font-size: 1.6rem;
}
.hero__profil h1{
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}
.hero__profil p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
}
.hero__social{
    margin-bottom: 40px;
}
.hero__social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}
.hero__social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}
.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}
.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 16px 16%;
}
.about{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.about__img img{
    width: 530px;
    height: 530px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}.about__text h2{
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 20px;
}
.about__text--exp-area{
    margin-bottom: 50px;
}
.about__text--exp-area p{
    color: var(--text-color);
    font-weight: 600;
    font-size: 19px;
    line-height: 42px;
}
.about__text--exp-area p span{
    color: var(--other-color);
    font-size: var(--p-font);
}

.services__content--box--logo {
    color: var(--main-color);
    font-size: 60px;
    transition: all .50s ease;
    margin-bottom: 20px;
}

.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h2-font);
}
.services__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.services__content--box{
    padding: 80px 40px 66px;
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;
}
.services__content--box h3{
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.services__content--box p{
    font-size: var(--p-font);
    font-weight: 400px;
    line-height: 30px;
    margin-bottom: 20px;
}
.services__content--box a{
    display: inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all .50s ease;
}
.services__content--box a:hover{
    border-bottom: 2px solid var(--main-color);
}
.services__content--box:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}
.portfolio{
    background: var(--second-bg-color);
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.portfolio__content--row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}
.portfolio__content--row {
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all .50s ease;
}

.portfolio__content--row-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.portfolio__content--row-info h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--other-color);
}
.portfolio__content--row-info i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: #075fe4;
}
.portfolio__content--row-info h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}
.portfolio__content--row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}
.contact__form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}
.contact__form form{
    position: relative;
    width: 600px;
}
form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    background: #2d343f;
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;
}
form input::placeholder,
form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
}
form .contact__form--send-btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}
form .contact__form--send-btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}
footer{
    padding: 22px;
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__copyright p{
    color: var(--other-color);
    font-size: var(--p-font);
} 
footer i{
    width: 50px;
    height: 50px;
    background: #075fe4;
    color: var(--other-color);
    font-size: 32px;
}
footer i:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}